[Desktop Entry]
Encoding=UTF-8
Name=Spectacle Widget
Comment=Plasma5 applet that allows you to take system screenshots using Spectacle Api.


Icon=spectacle-tray
Type=Service
ServiceTypes=Plasma/Applet

#X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Category=Utilities
#X-KDE-PluginInfo-Email=<> 
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=org.kde.plasma.spectacle_widget
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://github.com/plasma-light/plasma-widget-spectacle

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-StandAloneApp=true
